{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
  <br>
  <h1>A Propos</h1>
    <div class="alert alert-dismissible alert-secondary">
        <p>Quis irure ullamco minim ut. Aute nostrud eu enim proident amet velit culpa qui. Tempor sint reprehenderit pariatur non ut.

      Ut excepteur reprehenderit pariatur do labore non ipsum. Aliqua eiusmod mollit veniam pariatur proident adipisicing sint Lorem dolor consequat dolor. Culpa ad cupidatat eu commodo sint reprehenderit fugiat est minim laboris. Sint ut aliqua consequat aliqua nostrud aliquip pariatur anim commodo veniam sint. Eu id qui aute dolore.

      Ipsum tempor minim id minim qui. Voluptate pariatur qui ea aute voluptate amet nostrud duis esse eu est eu adipisicing pariatur. Pariatur ea ut velit quis officia Lorem aute non. Laborum dolore ad nisi nulla minim laboris. Ad pariatur sunt minim proident laboris consectetur mollit esse et amet do veniam quis. Consequat veniam esse excepteur ut eu deserunt magna aliquip reprehenderit elit.

      Aliqua velit anim Lorem deserunt esse deserunt duis. Veniam in aute sint eu proident ad ad amet ex culpa. Esse est commodo dolore sint incididunt enim ea pariatur do voluptate irure nisi proident amet. Cupidatat consectetur ut sit minim magna elit.

      Velit aliqua irure deserunt exercitation. Commodo enim et dolor est. Velit veniam quis velit consectetur. Culpa dolore fugiat veniam consequat eiusmod consectetur nostrud dolore.

      Id esse est ullamco veniam elit voluptate Lorem duis eu. Qui dolor sunt officia proident qui laborum quis aliqua velit elit enim ad ut. Minim aliqua laboris tempor aute minim sint nisi anim. Duis anim nulla nisi nisi exercitation ullamco fugiat exercitation. Amet adipisicing reprehenderit laborum nostrud duis proident cupidatat et incididunt quis aute.</p>
    </div>

{% endblock body %}