{% extends 'base.html.twig' %}

{% block body %}
{# home picture #}
<img src="images/home_tricks.jpg" class="img-fluid" alt="Responsive image">

<div class="container-fluid">
<br>
<div class="row">
<div class="col-lg-2 col-md-10 mx-auto">
<div class="card mb-3">
  <img  src="images/trick.jpg" class="img-fluid" alt="Responsive image" alt="Card image">
  <div class="card-footer">
    <p><a href="{{path('trick')}}">Trick 1</a>
    <i class="fas fa-edit"></i>
    <i class="fas fa-trash-alt"></i></p>
  </div>
</div>
</div>

<div class="col-lg-2 col-md-10 mx-auto">
<div class="card mb-3">
  <img  src="images/trick.jpg" class="img-fluid" alt="Responsive image" alt="Card image">
  <div class="card-footer">
    <p>
      <a href="{{path('trick')}}">Trick 2</a>
      {% if app.user %}
      <a href="{{path('updatetrick')}}"><i class="fas fa-edit"></i></a>
      <a href="{{path('deltrick')}}"><i class="fas fa-trash-alt"></i></a>
      {% endif %}
    </p>
  </div>
</div>
</div>

<div class="col-lg-2 col-md-10 mx-auto">
<div class="card mb-3">
  <img  src="images/trick.jpg" class="img-fluid" alt="Responsive image" alt="Card image">
  <div class="card-footer">
    <p><a href="#">Trick 3</a>
    <i class="fas fa-edit"></i>
    <i class="fas fa-trash-alt"></i></p>
  </div>
</div>
</div>

<div class="col-lg-2 col-md-10 mx-auto">
<div class="card mb-3">
  <img  src="images/trick.jpg" class="img-fluid" alt="Responsive image" alt="Card image">
  <div class="card-footer">
    <p><a href="#">Trick 4</a>
    <i class="fas fa-edit"></i>
    <i class="fas fa-trash-alt"></i></p>
  </div>
</div>
</div>

<div class="col-lg-2 col-md-10 mx-auto">
<div class="card mb-3">
  <img  src="images/trick.jpg" class="img-fluid" alt="Responsive image" alt="Card image">
  <div class="card-footer">
    <p><a href="#">Trick 5</a>
    <i class="fas fa-edit"></i>
    <i class="fas fa-trash-alt"></i></p>
  </div>
</div>
</div>

  </div>
  </div>

{% endblock body %}