
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/public/uploads

/UML/
.idea/workspace.xml
.project
.settings/org.eclipse.wst.validation.prefs
.buildpath
.idea/copyright/Yohann_Zaoui.xml
.idea/copyright/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/projet6.iml
.idea/vcs.xml
