{% extends 'base.html.twig' %}
{% block title %}Validation du compte{% endblock %}


{% block body %}
    <br>
    <br>
    <br>
    <div class="container">
        <div class="alert alert-dismissible alert-secondary">
            <h5 class="register_validation">Un email à l'adresse {{email}} vient de vous être envoyez pour la validation de votre compte</h5>
        </div>
    </div>

{% endblock body %}