{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <br>
    <div class="container">
        <h1>Mot de passe oublié</h1>
            <br>
            <div class="row">
                <div class="col-lg-6 col-md-10 mx-auto">
                    {{form_start(form)}}
                    {{ form_row(form.email, {'label':'Adresse Email','attr':{'placeholder': 'Entrez votre adresse Email'}}) }}
                    <p>
                        <button type="submit" class="btn btn-success">Envoyer</button>
                        <button type="reset" class="btn btn-danger">Effacer</button>
                    </p>
                    {{form_end(form)}}
                </div>
            </div>
    </div>
{% endblock body %}