{% extends 'base.html.twig' %}
{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <br>
    <div class="container">

        <h1>Mot de passe oublié</h1>

        {{form_start(form)}}
        {{form_end(form)}}

    

    
    </div>
{% endblock body %}