{% extends 'base.html.twig' %}
{% block title %}Récupération de mot passe{% endblock %}


{% block body %}

    <br>
    <div class="container">
        <h1>Mot de passe oublié</h1>
            <br>
            <div class="row">
                <div class="col-lg-6 col-md-10 mx-auto">
                    {% form_theme form 'theme/forgot_password_type.html.twig' %}
                    {{form(form)}}

                    {% for message in app.flashes %}
                        <div class="alert alert-dismissible alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}



                    {% for message in app.flashes('checkMailError') %}
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}

                    {% for message in app.flashes('resetPassword') %}
                        <div class="alert alert-dismissible alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
    </div>
{% endblock body %}