{% extends 'base.html.twig' %}
{% block title %}Confirmation de création du compte{% endblock %}


{% block body %}
    <br>
    <br>
    <br>
    <div class="container">
        <div class="alert alert-dismissible alert-secondary">
                <h5 class="register_validation">Votre compte à bien été créer. <a href="{{path("login")}}">Connectez-vous</a></h5>
        </div>
    </div>

{% endblock body %}