{% extends 'base.html.twig' %}
{% block title %}Erreur de validation du compte{% endblock %}


{% block body %}
    <br>
    <br>
    <br>
    <div class="container">
        <div class="alert alert-dismissible alert-secondary">
                <h5 class="register_validation">Erreur lors de la confirmation de votre compte. Le token de validation est invalide.</h5>
        </div>
    </div>

{% endblock body %}