{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h1>Inscription</h1>
        <div class="row">
            <div class="col-lg-6 col-md-10 mx-auto">
               {% form_theme form 'theme/register_type.html.twig'%}
               {{form(form)}}

                {% for message in app.flashes('register') %}
                    <div class="alert alert-dismissible alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}