{% extends 'base.html.twig' %}
{% block title %}Ajouter un Trick{% endblock %}

{% block body %}

    <br>
    <div class="container">
                <h1>Ajouter un Trick</h1>
            <div class="row">
                <div class="col-lg-6 col-md-10 mx-auto">
                    {% form_theme form 'theme/addtricktype.html.twig'%}
                    {{form(form)}}
                </div>
            </div>
    </div>
{% endblock body %}