{% block form %}
    {{ form_start(form) }}
        {{ form_row(form.message, {'label':'Votre commentaire'}) }}
        <p>
            <button type="submit" class="btn btn-success">Commenter</button> 
            <button type="reset" class="btn btn-danger">Effacer</button>
        </p>
    {{ form_end(form) }}
{% endblock %}