{% block form %}
    {{form_start(form)}}
        {{ form_row(form.email, {'label':'Adresse Email','attr':{'placeholder': 'Entrez votre adresse Email'}}) }}
        <p>
            <button type="submit" name="add" class="btn btn-success">Envoyer</button>
            <button type="reset" class="btn btn-danger">Effacer</button>
        </p>
    {{form_end(form)}}
{% endblock %}