<div id="video-{{ form.vars.name }}">
        <div class="col-lg-12 ">
        {{ form_row(form.url) }}
        <button type="button" class="btn btn-danger btn-remove" data-rel="#video-{{ form.vars.name }}">Supprimer</button>
        </div>
</div>