<div id="image-{{ form.vars.name }}">
        {{ form_row(form.file) }}
        <button type="button" class="btn btn-danger btn-remove" data-rel="#image-{{ form.vars.name }}">Supprimer</button>
</div>