{% extends 'base.html.twig' %}
{% block title %}Réinitialisez votre mot de passe{% endblock %}

{% block body %}
<div class="container">
    <br>
    <h1>Réinitialisez votre mot de passe</h1>
    <div class="row">
        <div class="col-lg-6 col-md-10 mx-auto">
            {% form_theme form 'theme/reset_type.html.twig' %}
            {{form(form)}}

        </div>
    </div>
    {% for message in app.flashes('resetPassword') %}
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endblock body %}


